body {
  font-size: 20px;
  font-family: 'Open Sans';
}

h1 {
  color: rgb(88, 82, 255);
}
button {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
  cursor: pointer;
  background-color: rgb(88, 82, 255);
  color: white;
}
